{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        <article>
            <h2>{{fruit.name}}</h2>
            <h3>
                {% if fruit.readyToEat %}
                    Ripe and ready to eat
                {% else %}
                    Unripe, wait to eat it!
                {% endif %}
            </h3>
            <p>Color: {{fruit.color}}</p>
            <div class="btn-group">
                <a class="btn btn-primary" href="/fruits/{{fruit._id}}/edit">Edit {{fruit.name}}</a>
                <form action="/fruits/{{fruit._id}}?_method=DELETE" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete {{fruit.name}}">
                </form>
            </div>
        </article>
    </div>
{% endblock %}